{% extends 'mainsite/base.html' %}
{% block content %}

<div class="asset_list">

    <div class="name_of_asset">
        <h2>Активы</h2>
        {% for assets in assets %}
        <li>{{ assets }}</li>
        {% endfor %}
    </div>

    <div class="buy_price">
        <h2>Цена</h2>
        {% for asset in assets %}
        {% if asset.modified_buy_price%}
        <li>{{ asset.modified_buy_price }}</li>
        {% else %}
        <li>{{ asset.buy_price }}</li>
        {% endif %}
        {% endfor %}
    </div>

    <div class="asset_count">
        <h2>Колличество</h2>
        {% for asset in assets %}
            <li>{{ asset.count }}</li>     
        {% endfor %}
    </div>

    <div class="asset_full_price">
        <h2>Стоимость ДО</h2>
        {% for asset in assets %}
            <li>{{ asset.cost_before}}</li>     
        {% endfor %}
    </div>
    <div class="asset_full_price">
        <h2>Стоимость ПОСЛЕ</h2>
        {% for asset in assets %}
            <li>{{ asset.cost_after}}</li>     
        {% endfor %}
    </div>

    <div class="asset_growth">
        <h2>%</h2>
        {% for asset in assets %}
            <li>{{ asset.growth }}</li>  
        {% endfor %}
    </div>
    
</div>
<div class="new_asset_button">
    <a href="{% url 'new_asset_page' %}">
        <button type="button" class="btn btn-success">New asset</button>
    </a>
</div>

{% endblock %}