footer {
    text-align: center;
    background-color: #3F3F3F;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* position: fixed;
    z-index: 1; */
  }