footer {
    text-align: center;
    background-color: #3F3F3F;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* position: fixed;
    z-index: 1; */
}

.asset_list {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;

}

.name_of_asset  {

  margin-left: 6px;
  margin-right: 6px;

}

.buy_price {

  margin-left: 6px;
  margin-right: 6px;
}

.asset_count {
    margin-left: 6px;
    margin-right: 6px;
  }


.asset_full_price {

  margin-left: 6px;
  margin-right: 6px;

}

.asset_growth {

  margin-left: 6px;
  margin-right: 6px;
}

.new_asset_button {

  margin-left: 46.5%;
  
}

li {
  list-style-type: none; /* Убираем маркеры */
}